<div class="jumbotron">
    <div class="container">
        <h2>Detailed informations about: {{cpu?.cpuBrand.brandName}} {{cpu?.cpuModel}} (ID: {{cpu?.id}})</h2>
    </div>
  </div>
  <div class="container">
    <form *ngIf="cpu" (ngSubmit)="save()" #Form="ngForm">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cpu Brand</label>
            <!--<input #cpuBrandName class="form-control col" placeholder="{{cpu.cpuBrand.brandName}}">-->
            <select class="form-control col" name="selectedBrand" required [(ngModel)]="selectedBrand" (change)="changedBrand()">
                <option [ngValue]="null">Please select Cpu Brand</option>
                <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.brandName}}</option>
              </select>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cpu Model</label>
            <input class="form-control col" required [(ngModel)]="cpu.cpuModel" name="cpuModel"  placeholder="{{cpu?.cpuModel}}">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cpu Socket</label>
            <!--<input #cpuBrandName class="form-control col" placeholder="{{cpu.cpuBrand.brandName}}">-->
            <select class="form-control col" name="selectedSocket" required [(ngModel)]="selectedSocket" >
                <option *ngFor="let socket of filteredSockets" [ngValue]="socket">{{socket.socketName}}</option>
              </select>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Core Frequency</label>
            <div class="input-group col pl-0 pr-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">GHz</div>
                </div>
                <input class="form-control" required [(ngModel)]="cpu.cpuFreq" name="cpuFreq" placeholder="{{cpu?.cpuFreq}}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Number of cores</label>
            <input class="form-control col" required [(ngModel)]="cpu.cpuCores" name="cpuCores" placeholder="{{cpu?.cpuCores}}">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Number of threads</label>
            <input class="form-control col" required [(ngModel)]="cpu.cpuThreads" name="cpuThreads" placeholder="{{cpu?.cpuThreads}}">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">TDP</label>
            <div class="input-group col pl-0 pr-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">W</div>
                </div>
                <input class="form-control col" required [(ngModel)]="cpu.cpuTdp" name="cpuTdp" placeholder="{{cpu?.cpuTdp}}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price</label>
            <div class="input-group col pl-0 pr-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">€</div>
                </div>
                <input class="form-control" required [(ngModel)]="cpu.cpuPrice" name="cpuPrice" placeholder="{{cpu?.cpuPrice}}">
            </div>
        </div>
        <button type="submit" class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#savaModal"> 
            Save Changes
        </button>
        <button type="button" class="btn btn-outline-danger" routerLink="/list">
            Cancel
        </button>
    </form>
</div>

<div class="modal fade" id="savaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success">Data saved!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your data has been saved.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/list" >Close</button>
        </div>
      </div>
    </div>
  </div>
