<div class="jumbotron">
    <div class="container">
        <h2>Adding new CPU...</h2>
    </div>
</div>
<div class="container">
    <!---->
    <div *ngIf="brands?.length==0 || sockets?.length==0" class="alert alert-danger ml-0 mr-0" role="alert">
        <h4 class="alert-heading">There is no Brand or Socket in database!</h4>
        <p>Before adding new CPU to database, you need to add Brand and Socket!</p>
        <hr>
        <p class="mb-0">You can use these links to <a routerLink="/addBrand">add new brand</a> and <a routerLink="/addSocket">add new socket</a>.</p>
    </div>
    <form (ngSubmit)="save()" #Form="ngForm" >
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cpu Brand</label>
            <!--<input #cpuBrandName class="form-control col" placeholder="{{cpu.cpuBrand.brandName}}">-->
            <select class="form-control col" name="selectedBrand" required [(ngModel)]="selectedBrand" (change)="changedBrand()">
                <option *ngFor="let brand of brands" [ngValue]="brand">{{brand.brandName}}</option>
              </select>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cpu Model</label>
            <input class="form-control col" required [(ngModel)]="cpu.cpuModel" name="cpuModel">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Cpu Socket</label>
            <!--<input #cpuBrandName class="form-control col" placeholder="{{cpu.cpuBrand.brandName}}">-->
            <select class="form-control col" name="selectedSocket" required [(ngModel)]="selectedSocket">
                <option *ngFor="let socket of filteredSockets" [ngValue]="socket">{{socket.socketName}}</option>
              </select>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Core Frequency</label>
            <div class="input-group col pl-0 pr-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">GHz</div>
                </div>
                <input class="form-control" type="number" step="0.01" required [(ngModel)]="cpu.cpuFreq" name="cpuFreq">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Number of cores</label>
            <input class="form-control col" type="number" required [(ngModel)]="cpu.cpuCores" name="cpuCores">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Number of threads</label>
            <input class="form-control col" type="number" required [(ngModel)]="cpu.cpuThreads" name="cpuThreads">
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">TDP</label>
            <div class="input-group col pl-0 pr-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">W</div>
                </div>
                <input class="form-control col" type="number" required [(ngModel)]="cpu.cpuTdp" name="cpuTdp">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Price</label>
            <div class="input-group col pl-0 pr-0">
                <div class="input-group-prepend">
                    <div class="input-group-text">€</div>
                </div>
                <input class="form-control" type="number" step="0.01" required [(ngModel)]="cpu.cpuPrice" name="cpuPrice">
            </div>
        </div>
        <button type="button" (click)="save()" class="btn btn-outline-success mr-2" data-toggle="modal" data-target="#savaModal" [disabled]="!Form.valid">
            Add to database
          </button>
          <button type="button" class="btn btn-outline-danger" routerLink="/list">
            Cancel
        </button>
    </form>
</div>

<div class="modal fade" id="savaModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-success">Data saved!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Your data has been saved.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" routerLink="/list" >Close</button>
        </div>
      </div>
    </div>
  </div>

